@font-face {
  font-family: 'information';
  src: url('../font/information.eot?48728574');
  src: url('../font/information.eot?48728574#iefix') format('embedded-opentype'),
       url('../font/information.woff2?48728574') format('woff2'),
       url('../font/information.woff?48728574') format('woff'),
       url('../font/information.ttf?48728574') format('truetype'),
       url('../font/information.svg?48728574#information') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "information";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  font-variant: normal;
  text-transform: none;

  line-height: 1em;

  margin-left: .2em;

 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.icon-info:before { content: '\f129'; } 
.icon-envelope-open:before { content: '\f2b6'; } 
