<header id="header" class="header bg-white">
    <div class="navbar-container">
        <a href="{{ '/' | prepend: site.baseurl }}" class="navbar-logo">
            <img src="{{ '/style/image/logo.png' | prepend: site.baseurl }}" alt="{{ site.name }}" />
            <span>{{ site.name }}</span>
        </a>
        <div class="navbar-menu">
            <a href="{{ '#SeninSemangat' | prepend: site.baseurl }}">Senin Semangat</a>
            <a href="{{ '#JumatBerkah' | prepend: site.baseurl }}">Jumat Berkah</a>
            <a href="https://web.ganisrafi.my.id" >Link-In-Bio</a>
        </div>
        <div class="navbar-mobile-menu" onclick="">
            <span class="icon-menu cross"><span class="middle"></span></span>
            <ul>
                <li><a href="{{ '#SeninSemangat' | prepend: site.baseurl }}">Senin Semangat</a></li>
                <li><a href="{{ '#JumatBerkah' | prepend: site.baseurl }}">Jumat Berkah</a></li>
                <li><a href="https://web.ganisrafi.my.id">Link-In-Bio</a></li>
                <li><a href="{{ '/about' | prepend: site.baseurl }}">Tentang</a></li>
            </ul>
        </div>
    </div>
</header>
