<header id="header" class="header bg-white">
    <div class="navbar-container">
        <a href="{{ '/' | prepend: site.baseurl }}" class="navbar-logo">
            <img src="{{ '/style/image/logo.png' | prepend: site.baseurl }}" alt="{{ site.name }}" />
            <span>{{ site.name }}</span>
        </a>
        <div class="navbar-menu">
            <a href="{{ '/#' | prepend: site.baseurl }}">Tutorial Rafi Rasyadi</a>
            <a href="{{ '/#' | prepend: site.baseurl }}">FYI</a>
            <a href="{{ '/#' | prepend: site.baseurl }}">Hunting Jadul</a>
            <a href="https://web.ganisrafi.my.id" >Media Sosial</a>
        </div>
        <div class="navbar-mobile-menu" onclick="">
            <span class="icon-menu cross"><span class="middle"></span></span>
            <ul>
                <li><a href="{{ '/' | prepend: site.baseurl }}">Tutorial Rafi Rasyadi</a></li>
                <li><a href="{{ '/' | prepend: site.baseurl }}">FYI</a></li>
                <li><a href="{{ '/' | prepend: site.baseurl }}">Hunting Jadul</a></li>
                <li><a href="https://web.ganisrafi.my.id">Media Sosial</a></li>
            </ul>
        </div>
    </div>
</header>
